*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #155dfc;
}
.Search{
    display: flex;
    width: 40rem;
    margin-bottom: 1rem;
    /* padding: 0.666rem; */
    background: #dbeafe;
    border-radius: 1rem;
}
input{
    width: 30rem;
    padding: 0.666rem;
    background: #dbeafe;
    border-radius: 1rem;
    border: none;
}
button{
    width: 8rem;
    border: 1px #155dfc solid;
    border-radius: 1rem;
    background: #dbeafe;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65rem;
    height: 30rem;
    border-radius: 1rem;
    background: #dbeafe;
}
.City{
    display: flex;
    justify-content: center;
    padding: 2rem 2rem 0rem 2rem;
    color: #1e2939;
    width: 100%;    
}
.current{
    display: flex;
    justify-content: center;
    padding: 0rem 0rem 2rem 0rem;
    width: 100%;
}
.Wh{
    display: flex;
    width: 85%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0rem 2rem 0rem;
    border-bottom: 1px #6a7282 solid;
}
.else{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.Feels{
    width: 50rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
.Humidity{
    width: 50rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
.WindSpeed{
    width: 50rem;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-direction: column;
}